@import url('../styles.css');

body {
    font-family: Arial, sans-serif;
    background-color: #B5CBB7;
    color: #fff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.single-article {
    margin-top: 3rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: #fff;

    h1 {
        text-decoration: underline;
    }

    .thumbnail {
        padding: 2rem;
        .date-note {
            margin-top: 1rem;
        }
    }

    .description {
        font-size: 1.2rem;
        padding-right: 2rem;

        .author-date {
            margin-top: 1rem;
            font-style: italic;
        }
    }
}

.horaires-list {
    background-color: #1B2D2F;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-flow: column;

    h3 {
        text-align: center;
    }
}

@media only screen and (max-device-width : 768px) {
    .single-article {
        flex-flow: column;
    }
}